include README.rst
include LICENSE.txt
include package.json
include webpack.config.js
include _custom_build/backend.py
recursive-include omero_forms/static *
recursive-include omero_forms/templates *
